.reforestaction_checkbox .checkbox.newsletter
{
	display: none;
	clear: both;
	margin-top: 3px;
}

.ra_title
{
	font-weight: bold;
	color: #333333;
}

DIV .reforestaction_checkbox
{
	padding-bottom: 20px;
}