#reforestaction_table .checkbox.newsletter {
    display: none;
    clear: both;
    margin-top: 3px;
}

.ra_title {
    font-weight: bold;
    color: #333333;
    padding-bottom: 5px;
}

#reforestaction_table {
    border: 1px solid #BDC2C9;
    margin-bottom: 10px;
    width: 100%;
}

#reforestaction_table:not(.ps15) td {
    border: 1px solid #BDC2C9;
}

#reforestaction_table.ps15 td 
{
	padding: 5px;
}

#reforestaction_table.ps15 td input,
#reforestaction_table.ps15 td label
{
	display: inline-block;
	vertical-align: middle;
}

#reforestaction_table td p {
    padding-bottom: 5px;
}

#reforestaction_table td:first-child {
    padding-left: 15px;
    padding-right: 15px;
}

#reforestaction_table td img {
    height: 40px;
}

#reforestaction_table .reforestaction_content {
    text-align: left;
}

#reforestaction_table #uniform-reforestaction_checkbox {
    margin: 0 auto;
}