<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>reforestaction</name>
            <displayName><![CDATA[Purchase responsable]]></displayName>
            <version><![CDATA[1.0.3]]></version>
            <description><![CDATA[With Reforest&#039;action, your customers plant a tree in the world to offset the CO2 emissions of their purchases. They do this for the planet and allow you to increase your visibility on social networks.]]></description>
            <author><![CDATA[202-ecommerce]]></author>
            <tab><![CDATA[advertising_marketing]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>
